* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



 .cell{
    
    background-color: rgb(135, 206, 235);
 }


  
  .input-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 1150px;
  }
  .input-container input {
    text-align: center;
    width: 70px;
  }
  
  
  .matrix-game {
   /* color: #87CEEB; */
      position: relative;
      margin: 0 auto;
      margin-top: 150px;
      width: 400px;
      height: 400px;
      /* border: black solid 2px; */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .tools-container{
      position: absolute;
      left: 750px;
      width: 150px;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  
  .color-tool, .cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transition: 0.2s linear opacity;
    cursor: pointer;
  }
  
  .color-tool:hover {
      opacity: .7;
  }


  .ground-color {
   
    background-image: url('./grass.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

 

  .ground2-color{
    
    background-image: url('./soil.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .silver-color{
    
    background-image: url('./silver.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .tree-color{
    background-image: url('./strongWood.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .green-color {
    
    background-image: url('./tree.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .stone-color{
    background-image: url('./stone.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .pickaxe-color{
    background-image: url('./pickaxe.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .shovel-color{
    background-image: url('./shovel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .axe-color{
    background-image: url('./axe.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .cloud-color{
    background-color: white;
  }


  
  .board-container {
      display: flex;
  }
  
  h3 {
      align-self: flex-start;
  }


  